import(methods)
import(VICCBiostat)
import(rpanel)
import(tcltk)
import(tcltk2)

export(Criteria, CriteriaSet, CutoffManager, TopNManager)
export(is.Criteria, is.CriteriaSet, is.CriteriaManager, is.CutoffManager, is.TopNManager)
export(write.CriteriaManager, write.CutoffManager, write.TopNManager)
export(read.CutoffManager, read.TopNManager)
export(wfccmr, cv.wfccmr)
export(distance, distancep)
export(filter.wfccm, rank.wfccm, scores.wfccm, sign.wfccm, tests.wfccm, winners.wfccm)
export(read.wfccmdata, read.wfccminfo)
export(wfccmgui, topnpanel, generateSTDFunc)

exportClasses(Criteria, CriteriaSet, CriteriaManager, CutoffManager, TopNManager)

exportMethods(coerce, show, "[", "[[", length, names, c, as.Criteria)

S3method(summary, tests.wfccm)
S3method(summary, wfccm)
S3method(plot, summary.wfccm)
S3method(plot, wfccm)
