import(methods)
import(VICCBiostat)

export(Criteria, CriteriaSet, CutoffManager, TopNManager)
export(is.Criteria, is.CriteriaSet, is.CriteriaManager, is.CutoffManager, is.TopNManager)
export(write.CriteriaManager, write.CutoffManager, write.TopNManager)
export(read.CutoffManager, read.TopNManager)
export(cv.wfccmr, distance, distancep, filter.wfccm, rank.wfccm, scores.wfccm, sign.wfccm, tests.wfccm, winners.wfccm, wfccmr, read.wfccmdata, read.wfccminfo)

exportClasses(Criteria, CriteriaSet, CriteriaManager, CutoffManager, TopNManager)

exportMethods(coerce, show, "[", "[[", length, names, c, as.Criteria)

S3method(plot, topn)
S3method(summary, tests.wfccm)
